<div id="project_name">
	<a class="back_link" class="transition" href="/projects">Back</a>
	<div id="project_holder">
		<h3>Your messages</h3>
	<% @messages.each do |message|%>
	  <p>From: <%=message.ninja.ninja_name%></p>
	  <p>Project: <%=message.ninja.projects.name%></p>
	  <p>Message: <%=message.content%></p>
	  <p>Sent on: <%=message.created_at%></p>
	  <a class="transition" href="/messages/<%=message.ninja.id%>/new">Reply</a>
	<% if @team%>
	<form action="/teams/<%=message.id%>"  class="transition" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
		<input type="hidden" name="project_id" value="<%=@project.id%>" >
		<input type="submit" value="Add to the team">
	</form>
<% end %>
	  <a data-method="delete" class="transition" href="/messages/<%=message.id%>">Delete</a>
	<%end%>
	</div>
</div>
 <a data-method="post" class="transition" href="/teams/<%=@project.id%>">Add to Team</a>
