<p>picture</p>
<h3><%=@ninja.ninja_name%></h3>
<h3>First Name: <%=@ninja.first_name%></h3>
<h3>Last Name: <%=@ninja.last_name%></h3>
<h4>Location: <%=@ninja.location%></h4>
<h4>Own Projects: <%=@own_projects.count%></h4>
<h4>On Team: <%=@team_projects.count%></h4>
<a href="/ninjas/<%=@ninja.id%>/edit">Edit</a>
<a href="/messages/<%=@ninja.id%>">Messages</a>
<a href="/projects">Back</a>
