<div id="project_name">

  <a class="back_link" href="/projects/stack/all">Back</a>
	<div id="project_holder">
		<h1 id="your_name"><%=@no_session.ninja_name%></h1>
		<%= image_tag("photoholder.jpg", height: '150', width: '150', :alt => "photo", :id=>"photo") %><br>
			<p>Name:  <%=@no_session.first_name%></p>
			<p>Last Name:  <%=@no_session.last_name%></p>
			<p>Location:  <%=@no_session.location%></p>
			<p>Own Projects:  <%=@own_projects.count%></p>
			<p id="margin_botton">On team Projects:  <%=@team_projects.count%></p>
			<a href="/messages/<%=@no_session.id%>" class="transition"><%= image_tag("Mail.gif", height: '80', width: '80', :alt => "mail", :id=>"mail") %></a><br><br>
		<% if current_user.id == @no_session.id %>
		  <a href="/ninjas/<%=@no_session.id%>/edit">Edit Profile</a><br><br>
		  <a data-method="delete" href="/ninjas/<%=@no_session.id%>">Delete Profile</a>
		 <% end %>
	</div>
</div>
