<div id="dashboardtop">
	<a href="/index" class="transition"><%= image_tag("construct-logo.png", height: '70', width: '160', :alt => "construct", :id=>"construct") %></a>
	<a href="/swift" class="transition"><%= image_tag("swift.gif", height: '70', width: '70', :alt => "swift", :id=>"swift") %></a>
	<a href="/ror" class="transition"><%= image_tag("ruby.gif", height: '70', width: '70', :alt => "ruby", :id=>"ruby") %></a>
	<a href="/php" class="transition"><%= image_tag("php.gif", height: '70', width: '70', :alt => "php", :id=>"php") %></a>
	<a href="/js" class="transition"><%= image_tag("js.gif", height: '70', width: '70', :alt => "js", :id=>"js") %></a>
	<a href="/csharp" class="transition"><%= image_tag("csharp.gif", height: '70', width: '70', :alt => "csharp", :id=>"csharp") %></a>
	<a href="/python" class="transition"><%= image_tag("python.gif", height: '70', width: '70', :alt => "python", :id=>"python") %></a>

	<a href="/index/" class="transition"  id="exit">Logout</a>
</div>

<div id="user_info">
	<h1 id="your_name">Your Name Here</h1>
	<a href="/index" class="transition"><%= image_tag("photoholder.jpg", height: '200', width: '200', :alt => "photo", :id=>"photo") %></a><br>
		<label>Name: </label><br>
		<label>Last Name: </label><br>
		<label>Location: </label><br>
		<label>Completed Projects: </label><br>
		<label>Live Projects: </label><br>
	<a href="/index" class="transition"><%= image_tag("Mail.gif", height: '80', width: '80', :alt => "mail", :id=>"mail") %></a><br>
	<a href="https://github.com/" class="transition"><%= image_tag("github.gif", height: '80', width: '80', :alt => "git", :id=>"git") %></a><br>
	<a href="https://learn.codingdojo.com/signin#" class="transition"><%= image_tag("CD.gif", height: '100', width: '100', :alt => "CD", :id=>"CD") %></a><br>
</div>

<div id="project_name">
	<h3>Swift Projects: &nbsp; &nbsp; &nbsp; &nbsp;<a href="/create_project/" class="transition"  id="exit">Create Projects</a></h3>
<div id="project_holder">
	<label>Description: </label><br>
	<label>Location: </label><br>
	<label>Creator: </label><br>
	<label>Team: </label>
	<hr>

</div>

</div>
