<div id="dashboardtop" class="transition">

	<a href="/projects/stack/all"><%= image_tag("construct-logo.png", height: '70', width: '160', :alt => "construct", :id=>"construct") %></a>


	<a href="/projects/stack/IOS" class="transition"><%= image_tag("swift.gif", height: '70', width: '70', :alt => "swift", :id=>"swift") %></a>


	<a href="/projects/stack/Ruby" class="transition"><%= image_tag("ruby.gif", height: '70', width: '70', :alt => "uby", :id=>"ruby") %></a>


	<a href="/projects/stack/PHP" class="transition"><%= image_tag("php.gif", height: '70', width: '70', :alt => "php", :id=>"php") %></a>


	<a href="/projects/stack/JS" class="transition"><%= image_tag("js.gif", height: '70', width: '70', :alt => "js", :id=>"js") %></a>


	<a href="/projects/stack/CSharp" class="transition"><%= image_tag("csharp.gif", height: '70', width: '70', :alt => "csharp", :id=>"csharp") %></a>


	<a href="/projects/stack/Python" class="transition"><%= image_tag("python.gif", height: '70', width: '70', :alt => "python", :id=>"python") %></a>


	<a data-method="delete" href="/sessions" class="transition"  id="exit">Logout</a>
</div>
